In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
df=np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)
np.random.seed(9)
df=df.sample(5)
df

    R&D Spend  Administration  Marketing Spend  Profit
21        8.0            15.0             30.0    11.0
37        4.0             5.0             20.0     9.0
2        15.0            10.0             41.0    19.0
14       12.0            16.0             26.0    13.0
44        2.0            15.0              3.0     7.0

In [3]:
df=df.iloc[:,0:-1]
df

    R&D Spend  Administration  Marketing Spend
21        8.0            15.0             30.0
37        4.0             5.0             20.0
2        15.0            10.0             41.0
14       12.0            16.0             26.0
44        2.0            15.0              3.0

In [4]:
df.iloc[1,0]=np.NaN
df.iloc[3,1]=np.NaN
df.iloc[-1,-1]=np.NaN

C:\Users\Riya\AppData\Local\Temp\ipykernel_3540\2802553095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[1,0]=np.NaN
C:\Users\Riya\AppData\Local\Temp\ipykernel_3540\2802553095.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[3,1]=np.NaN
C:\Users\Riya\AppData\Local\Temp\ipykernel_3540\2802553095.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[-1,-1]=np.NaN

In [5]:
df

    R&D Spend  Administration  Marketing Spend
21        8.0            15.0             30.0
37        NaN             5.0             20.0
2        15.0            10.0             41.0
14       12.0             NaN             26.0
44        2.0            15.0              NaN

In [6]:
df.head()

    R&D Spend  Administration  Marketing Spend
21        8.0            15.0             30.0
37        NaN             5.0             20.0
2        15.0            10.0             41.0
14       12.0             NaN             26.0
44        2.0            15.0              NaN

In [7]:
#impute all the missing columns with the mean of respective columns
df0=pd.DataFrame()
df0['R&D Spend']=df['R&D Spend'].fillna(df['R&D Spend'].mean())
df0['Administration']=df['Administration'].fillna(df['Administration'].mean())
df0['Marketing Spend']=df['Marketing Spend'].fillna(df['Marketing Spend'].mean())

In [8]:
df0

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37       9.25            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.25            26.00
44       2.00           15.00            29.25

In [9]:
#Remove the column 1 imputed value
df1=df0.copy()
df1.iloc[1,0]=np.NaN
df1

    R&D Spend  Administration  Marketing Spend
21        8.0           15.00            30.00
37        NaN            5.00            20.00
2        15.0           10.00            41.00
14       12.0           11.25            26.00
44        2.0           15.00            29.25

In [10]:
#use the first 3 columns to build the model and last column to prediction
x=df1.iloc[[0,2,3,4],1:3]
x

    Administration  Marketing Spend
21           15.00            30.00
2            10.00            41.00
14           11.25            26.00
44           15.00            29.25

In [11]:
y=df1.iloc[[0,2,3,4],0]

In [12]:
y

21     8.0
2     15.0
14    12.0
44     2.0
Name: R&D Spend, dtype: float64

In [13]:
lr=LinearRegression()
lr.fit(x,y)
lr.predict(df1.iloc[1,1:].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([23.14158651])

In [14]:
df1.iloc[1,0]=23.14

In [15]:
df1

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37      23.14            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.25            26.00
44       2.00           15.00            29.25

In [16]:
#Remove column 2 imputed value
df1.iloc[3,1]=np.NaN
x1=df1.iloc[[0,1,2,4],[0,2]]
y1=df1.iloc[[0,1,2,4],1]
lr=LinearRegression()
lr.fit(x1,y1)
lr.predict(df1.iloc[3,[0,2]].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.06331285])

In [17]:
df1.iloc[3,1]=11.06

In [18]:
df1

    R&D Spend  Administration  Marketing Spend
21       8.00           15.00            30.00
37      23.14            5.00            20.00
2       15.00           10.00            41.00
14      12.00           11.06            26.00
44       2.00           15.00            29.25

In [19]:
df1.iloc[4,-1]=np.NaN
x1=df1.iloc[0:4,0:2]
y1=df1.iloc[0:4,-1]
lr=LinearRegression()
lr.fit(x1,y1)
lr.predict(df1.iloc[4,0:2].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([31.56351448])

In [31]:
df1.iloc[4,-1] = 31.56

In [21]:
#substract the 0th iteation from first iteration

In [22]:
df1-df0

    R&D Spend  Administration  Marketing Spend
21       0.00            0.00             0.00
37      13.89            0.00             0.00
2        0.00            0.00             0.00
14       0.00           -0.19             0.00
44       0.00            0.00             2.31

In [23]:
df2=df1.copy()
df2.iloc[1,0]=np.NaN
df2

    R&D Spend  Administration  Marketing Spend
21        8.0           15.00            30.00
37        NaN            5.00            20.00
2        15.0           10.00            41.00
14       12.0           11.06            26.00
44        2.0           15.00            31.56

In [24]:
x=df2.iloc[[0,2,3,4],1:3]
y=df2.iloc[[0,2,3,4],0]
lr=LinearRegression()
lr.fit(x,y)
lr.predict(df2.iloc[1,1:].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([23.78627207])

In [25]:
df2.iloc[1,0]=23.78

In [26]:
df2.iloc[3,1]=np.NaN
x1=df2.iloc[[0,1,2,4],[0,2]]
y1=df2.iloc[[0,1,2,4],1]
lr=LinearRegression()
lr.fit(x1,y1)
lr.predict(df2.iloc[3,[0,2]].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.22020174])

In [27]:
df2.iloc[3,1]=11.22

In [32]:
df2.iloc[4,-1]=np.NaN
x1=df2.iloc[0:4,0:2]
y1=df2.iloc[0:4,-1]
lr=LinearRegression()
lr.fit(x1,y1)
lr.predict(df2.iloc[4,0:2].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([38.87979054])

In [33]:
df2.iloc[4,-1] = 38.87

In [34]:
df2-df1

    R&D Spend  Administration  Marketing Spend
21       0.00            0.00             0.00
37       0.64            0.00             0.00
2        0.00            0.00             0.00
14       0.00            0.16             0.00
44       0.00            0.00             7.31

In [35]:
df3=df1.copy()
df3.iloc[1,0]=np.NaN
df3

    R&D Spend  Administration  Marketing Spend
21        8.0           15.00            30.00
37        NaN            5.00            20.00
2        15.0           10.00            41.00
14       12.0           11.06            26.00
44        2.0           15.00            31.56

In [39]:
X = df3.iloc[[0,2,3,4],1:3]
y = df3.iloc[[0,2,3,4],0]

lr = LinearRegression()
lr.fit(x,y)
lr.predict(df3.iloc[1,1:].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([23.78627207])

In [40]:
df3.iloc[1,0] = 23.78

In [41]:
df3.iloc[3,1] = np.NaN
X = df3.iloc[[0,1,2,4],[0,2]]
y = df3.iloc[[0,1,2,4],1]

lr = LinearRegression()
lr.fit(X,y)
lr.predict(df3.iloc[3,[0,2]].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([11.37282844])

In [44]:

df3.iloc[3,1] = 11.37

In [45]:
df3.iloc[4,-1] = np.NaN

X = df3.iloc[0:4,0:2]
y = df3.iloc[0:4,-1]

lr = LinearRegression()
lr.fit(x,y)
lr.predict(df3.iloc[4,0:2].values.reshape(1,2))

C:\Users\Riya\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.25798806])

In [46]:
df3.iloc[4,-1] = 71.25

In [47]:
df3-df2

    R&D Spend  Administration  Marketing Spend
21       0.00            0.00             0.00
37       0.79            0.00             0.00
2        0.00            0.00             0.00
14       0.00            0.15             0.00
44       0.00            0.00            32.38